# Data Science Academy
## Capítulo 4 - Exercícios

### Exercício 1
Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [1]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercício 2 
Crie uma lista de 5 objetos e imprima na tela.

In [5]:
objetos = ['notebook', 'mouse', 'wi-fi', 'chuva', 'Data Science']

In [6]:
len(objetos)

5

In [49]:
type(objetos)

list

In [7]:
print(objetos)

['notebook', 'mouse', 'wi-fi', 'chuva', 'Data Science']

### Exercício 3
Crie duas strings e concatene as duas em uma terceira string.

In [13]:
str1 = 'Jude'

In [18]:
str2 = 'Agatha Kim'

In [19]:
str3 = str1 + ' ' + str2

In [20]:
print(str3)

Jude Agatha Kim

### Exercício 4
Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [50]:
tuple = (1, 2, 2, 3, 4, 4, 4, 5)

In [51]:
tuple.count(4)

3

### Exercício 5 
Crie um dicionário vazio e imprima na tela.

In [22]:
dic = {}

In [23]:
print(dic)

{}

### Exercício 6 
Crie um dicionário com 3 chaves e 3 valores e imprima na tela.

In [25]:
dic_cats = {'Ela Mai': 3, 'Nala Di': 3, 'Juan': 1}

In [28]:
dic_cats.items()

dict_items([('Ela Mai', 3), ('Nala Di', 3), ('Juan', 1)])

In [29]:
print(dic_cats)

{'Ela Mai': 3, 'Nala Di': 3, 'Juan': 1}

### Exercício 7 
Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela.

In [30]:
dic_cats['Agatha'] = 0.7

In [31]:
dic_cats

{'Ela Mai': 3, 'Nala Di': 3, 'Juan': 1, 'Agatha': 0.7}

### Exercício 8
- Crie um dicionário com 3 chaves e 3 valores;
- Um dos valores deve ser uma lista de 2 elementos numéricos;
- Imprima o dicionário na tela.

In [33]:
dict = {'pessoas': 4, 'carro': 1, 'mudanças': [2010, 2014]}

In [34]:
print(dict)

{'pessoas': 4, 'carro': 1, 'mudanças': [2010, 2014]}

### Exercício 9 
Crie uma lista de 4 elementos:
* O primeiro elemento deve ser uma string;
* O segundo uma tupla de 2 elementos;
* O terceiro um dicionário com 2 chaves e 2 valores;
* O quarto elemento um valor do tipo float;
* Imprima a lista.

In [1]:
lista = ['Robert', ('cinza','azul'), {'idade': 25, 'sobrenome': 'Smith'}, 1.86]

In [2]:
print(lista)

['Robert', ('cinza', 'azul'), {'idade': 25, 'sobrenome': 'Smith'}, 1.86]

### Exercício 10 
Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
* frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [43]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [48]:
for letra in range(len(frase)):
    if 1 <= letra <= 18:
        print(frase[letra], end='')

ientista de Dados